# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
vk_paw.egg-info/

# pipenv
/venv/
/.env
/Pipfile.lock

# Unit test / coverage reports
/.coverage
/.pytest_cache/
/.tox/

# Sphinx documentation
/docs/_build/

# IDEs
/.idea/

# Vagrant
/.vagrant/
