# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
/dist/
/vk.egg-info/

# pipenv
/.env

# Unit test / coverage reports
/.coverage
/.pytest_cache/
/.tox/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
/docs/_build/

# IDEs
/.idea/

# Vagrant
/.vagrant/
